<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
        <script src="~/Resource/js/jquery.min.js"></script>
</head>
<body>
    <div>
        jdsklajlksdjlaskjdlasjldas
        <input id="mybtn" type="button" value="跳转" />
    </div>
</body>
    <script type="text/javascript">
        $("#mybtn").on("click", function () {
            window.location = "/sys/Test1";
        })

    </script>
</html>
