<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>投资咨询及管理服务协议</title>
    <meta name="description" content="一休理财">
    <meta name="keywords" content="理财">
    <meta name="author" content="Globak-x">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="../css/m_base.css" rel="stylesheet">
    <link href="../css/agreement.css" rel="stylesheet">

    <script src="../js/loader/sea.js"></script>
    <script src="../js/loader/sea-config.js"></script>

</head>
<body>
<div class="agreement-wrap">
    <div class="agreement-box">
        <div class="agm-num">
        </div>
        <div class="agm-title">
            <h2>投资咨询及管理服务协议</h2>
        </div>
        <div class="serve-text agm-text">
            <p>本协议由以下双方于__2015__年__7__月__18__日签署并履行。</p>
            <dl>
                <dt>甲方（受让方）:</dt>
                <dd>李新伟</dd>
            </dl>
            <p>证件类型：身份证</p>
            <dl>
                <dt>证件号:</dt>
                <dd>12131232132132</dd>
            </dl>
            <p>联系地址:</p>
            <p>乙方：一休理财</p>
        </div>
        <div class="agm-content protocolWord">
            <p>根据《中华人民共和国合同法》及相关法律法规的规定，双方遵循平等、自愿、互利和诚实信用原则，经友好协商，就甲方自愿购买乙方一休理财系列债权组合达成如下一致意见。
                （甲方、乙方单独称“各方”，合称“双方”。）
            </p>
            <h4>特别提示：</h4>
            <p>一、 一休理财非存款或保底类理财产品、产品有风险、投资须谨慎。一休理财不保证本金和收益，如出现所投资的资产未按时足额支付本息或一休理财提前终止的不利情况，则一休理财将有收益为零或本金损失的可能，请充分认识投资风险。</p>
            <p> 二、主要风险列示: 市场风险、信用风险、流动性风险等（详见本协议“七、风险揭示”部分）。</p>
            <p>三、购买者在参与一休理财前，应仔细阅读本《用户注册协议》，确保自己完全明白该项投资的性质和所涉及的风险，详细了解和审慎评估一休理财的投资模式、风险类型及预期收益等基本情况，在慎重考虑后自行决定购买与自身风险承受能力和资产管理需求匹配的产品；一休理财上公布的当前年化投资收益率的表述属不具有法律约束力的用语，不代表投资者可能获得的最终实际收益，亦不构成一休理财公司、一休理财及其相关方对一休理财的任何收益承诺，投资者所能获得的最终收益以一休理财网根据本协议书实际支付给购买人的为准。</p>
            <p>四、 在参与一休理财后，投资者应随时关注一休理财平台上发布的官方公告，及时获取相关信息。</p>
            <p>五、您一旦通过确认同意本协议而完成投标，则表示您同意接受以下条款的约束。若您不接受以下条款，或者无法准确理解一休理财对条款的解释，请您立即停止投标。</p>
            <p>六、一休理财有权根据需要不定期地修改本协议或根据本协议制定、修改各类具体规则并在一休理财发布，无需另行单独通知您。您应经常性地注意本协议及具体规则的变更，若您在本协议及具体规则内容变更发布公告后继续使用一休理财提供的服务，则表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用一休理财的服务；同时就您在协议和具体规则修订前通过一休理财进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认。若您不同意修改后的协议内容，您应立即停止使用一休理财的服务。如新旧规则或协议之间冲突或矛盾的，除另行明确声明外，以最新修订的协议和规则为准。</p>
            <h4>第1条  释义</h4>
            <p>在本合同中，除非上下文另有解释，下列词语具有以下含义：</p>
            <p>1.1 债权人：指自主选择出借一定数量资金给他人及/或以受让债权的方式向他人提供资金的自然人，包括本协议甲方。</p>
            <p>1.2 债权：指债权债务关系存续期间债权人拥有的全部本金及利息或其他资金收益。债权以人民币计价。</p>
            <p>1.3 债权受让人：指依照本协议约定条件支付一定对价后即享有原债权人对相应债务人享有的债权的受让人。债权受让人受让该笔债权后，应享有和履行原债权人在本协议项下的权利和义务。</p>
            <p>1.4个人信息：指本协议项下的债权人为实现投资而向乙方提供的身份证件、划款账户等个人身份、资产、信用的资料和信息。</p>
            <p> 1.5 商业秘密：指为完成本协议交易目的而为双方所知悉和相互透露的但并不为公众所知悉的包括但不限于交易方案、信用评估报告、公司执照、资产情报、协议、备忘录、个人信息、技术数据等信息资料和文件。</p>
            <p>1.6支付机构：与一休理财合作的第三方支付平台，提供资金管理服务。</p>
            <p>1.7退出服务：甲方已购账户金额为0，视为甲方退出服务，本协议自行终止。</p>
            <p>1.8债权组合：一休理财选择的债权转让人拥有的债权中的一部分，形成的债权组合，进行债权转让。</p>
            <p>1.9收益率：一休理财根据债权组合中的债权构成，计算得出该债权组合的当日年化收益率。</p>
            <p>1.10 工作日：指除中国的周六、周日以及国务院确定的中国全体公民放假的节日之外的日期。</p>
            <p>1.11月：指自然月。</p>
            <p>1.12日：指自然日。</p>
            <h4>第2条  资金投资方式</h4>
            <p>甲方选择以下方式实现个人的投资需求：</p>
            <p> 甲方在参与乙方提供的理财服务计划时，不可撤销地授权并接受乙方为其推荐的债务人。同时，甲方不可撤销地授权乙方代甲方签署确认或生成相应的《债权转让及服务协议》，甲方受其本人或乙方签署确认的融资等文件条款的约束，自甲方将投资款项划付至债务人账户时，甲方与债务人之间建立借款法律关系及/或债权债务关系。</p>
            <h4>第3条 提现规则与提现费用</h4>
            <p> 3.1、当购买人发起提现申请，提现审核通过后，先提取收益账户的资金。若提现金额超过收益账户，一休理财会转让购买人的部分债权以满足提现要求。购买人的债权将被转让给新购买用户，或者被一休理财平台回购。</p>
            <p>3.2、一休理财为第三方支付平台代收提现费用，当提现后账户余额不足支付提现费用时，不足部分将从提现金额中扣除。</p>
            <p>3.3如根据税收法律法规的规定，一休理财网有义务代为扣缴购买人因参与一休理财所获得的收益的相应税款，则一休理财有权从支付给购买人的提现金额中直接扣除相应金额并缴付给税务机关。</p>
            <p>3.4对于未发生购买行为的大额充值后直接提现，或者带有明显恶意特征的充值提现行为，一休理财网保留查证、要求提供书面说明材料乃至冻结账户的权利，并且有权直接收取不低于5‰的充值及提现手续费。</p>
            <h4>第4条 各方权利与义务</h4>
            <p>A 甲方的权利与义务</p>
            <p>4.1、甲方自签署本协议之日起，即视为其自愿接受本协议所有条款所约定的内容。</p>
            <p>4.2、甲方享有参加“一休理财”进行购买时所带来的收益，并承担参与真融宝的风险。</p>
            <p>4.3甲方享有其所投资款项带来的利息及/或溢价收益；</p>
            <p>4.4 甲方有权登陆到乙方平台查看其所投资款项带来的收益情况；</p>
            <p>4.5甲方保证不会利用乙方服务进行资金非法转移、套现及洗钱等违法犯罪活动；保证其所用于投资的资金来源合法，甲方是该资金的合法所有人，完全有权投资该笔资金；如果第三人对资金归属、合法性问题发生争议，由甲方负责解决，不得因此而牵连乙方，并保证及时赔偿乙方因此所遭受的一切损失；</p>
            <p>4.6、甲方变更账户信息、通讯地址、电话号码等相关重要信息，须及时通知乙方。否则，因甲方未及时通知乙方而导致甲方自身遭受的损失，均由甲方自行承担。</p>
            <p>4.7、甲方在资金流出、债权转让过程产生的相关税费，由甲方自行向其主管税务机关申报、缴纳，乙方不负责处理相关事宜。但是，如果根据税收法律法规的规定，乙方有义务代为扣缴甲方因参与一休理财所获得的收益的相应税款，则乙方有权从支付给甲方的金额中直接扣除相应金额并代为缴付给税务机关。</p>
            <p>4.8、如果甲方出现一休理财服务内资金及债权组合的继承或赠与，必须由主张权利的继承人或受赠人向乙方出示经公证的继承或赠与权利归属相关的证明文件，经乙方确认后方予协助进行债权转让，由此产生的相关税费，由主张权利的继承人或受赠人自行向其主管税务机关申报、缴纳，乙方不负责处理相关事宜。但是，如果根据税收法律法规的规定，乙方有义务代为扣缴相应税款，则乙方有权直接扣除相应金额并代为</p>
            <h4>B 乙方的权利与义务</h4>
            <p>4.9 乙方应当按照本协议的规定，恪尽职守，以诚实、信用、谨慎、有效管理的原则为甲方提供服务；</p>
            <p>4.10乙方有权向甲方依照本协议的规定收取相应的服务费用；</p>
            <p>4.11 乙方须对甲方个人信息包括资产情况及其他服务相关事务的情况和资料依法保密，但为履行服务 之目的向乙方合作方及关联方提供的除外；</p>
            <p>4.12乙方对甲方的责任仅限于本协议。甲方理解并确认：乙方既不是甲方与债务人间债权债务的当事人，也不是该债权债务中债务人的保证人或连带责任人；乙方根据本协议的约定向甲方提供的所有投资咨询服务仅供甲方决定是否投资时予以参考，无论甲方与债务人形成的借贷关系或其他债权债务关系是否存在第三方担保，也不论乙方是否在融资文件上签章，在任何情况下均不应视为乙方及其关联方对债务人偿还能力及融资文件的履行作出了任何明示或默示的担保，亦不应视为乙方及其关联方对甲方的本金和/或收益作出了明示或默示的担保或保证。甲方应自行判断相关信息的真实性、准确性、及时性，自主决定是否提供资金，并承担由此而导致的一切损失或责任。</p>
            <p>4.13乙方有义务协助甲方办理各项信息变更手续；</p>
            <p>4.14 在甲方与债务人债权债务关系存续期间，债务人发生违约行为时，甲方不可撤销地授权乙方采取合法合理的措施协助甲方进行及时催收和追讨；</p>
            <p>4.15乙方为甲方提供资金投资咨询相关服务，包括但不限于债务人推荐、投资或其他资金对接促成、债务人信用评估、回款管理、贷后管理及必要的催收等服务，并有权据以向甲方收取相关的服务费用；</p>
            <p> 4.16 为保证乙方能够更好的为甲方提供服务，甲方在此不可撤销的向乙方作出如下授权：</p>
            <p>（1）代甲方在一休理财上确认购买债权组合、债权转让的相关协议；</p>
            <p>（2）加入一休理财服务成功后，退出服务前，代甲方与债权转让人自动进行债权转让；</p>
            <p>（3）甲方向乙方申请退出服务时，乙方代甲方进行债权转让，之后将（扣除提现费用后的）全部本息转入甲方基于本协议的回款专户。</p>
            <p>4.17为保证甲方的购买资金能够成功购买债权组合，甲方不可撤销的授权、乙方同意并接受甲方的授权，委托支付机构代为划转相应金额，由乙方代为购买并且回售债权组合。</p>
            <p>4.18 如果甲方提出查阅或使用其购买所对应的债权出让人债权转让文件，则可联系乙方，甲方可在办理相关手续后到乙方处查阅，乙方予以配合。</p>
            <h4>第5条  服务计划资金的回收管理</h4>
            <p>5.1根据甲方与债权转让人之间的相关协议的规定，在购买人参与一休理财服务期间内，乙方及\或债权转让人有义务支付甲方在计划期间的收益（如有）。为便利、统一地回收资金，加入一休理财服务期间内甲方不可撤销的授权乙方、乙方同意并接受甲方的授权，委托支付机构代为划转甲方在真融宝服务期间内应得的收益（如有），甲方委托并授权乙方或乙方指定的主体代为划转债务人每期偿还的本息，并进行续投资。</p>
            <h4>第6条 资金投资及回收方式</h4>
            <p>6.1 理财服务计划类型：根据甲方投资时选择不同，分为“月月赢”、“季季享”、“年年丰”、理财服务计划。理财服务计划项下的债权包括但不限于融资租赁应收租金等，在债权期限届满或消灭时，为甲方重新推荐其他债权</p>
            <p>6.2 甲方投资金额为人民币__800000__元整，甲方需在签订本协议的同时准备好投资款项。乙方在协助甲方签署确认融资文件后进行款项划扣。</p>
            <p>6.3 甲方的实际投资日期以融资文件约定或乙方平台公示为准，投资行为在乙方协助甲方按融资文件载日期将款项实际支付到债务人及/或原债权人账户时生效。</p>
            <p>6.4理财服务计划期限内，甲方委托乙方将按月代划转的债务人偿还的本息或其他资金，参考乙方推荐进行新一次的投资（以下称“续投资”）。甲方不可撤销地授权乙方为其寻找新债券并以甲方名义办理投资及/或债权受让手续，款项由乙方代为划转给新债权人；乙方会积极协助甲方寻找新债权人，并争取在债务人还款后五个工作日内完成全部或部分债务人偿还本息或其他资金的续投资，但甲方理解乙方为其寻找新债务人、协助其完成全部或部分款项续投资的日期存在一定不确定性。如乙方未能成功推荐新债务人或者乙方未能将债务人偿还所有本息或其他资金进行续投资，通常情况下，未能进行续投资的全部或部分款项将在债务人还款后的五个工作日内支付至甲方在第三方支付机构开设的个人账户或者甲方在投资时选择的银行账户。以上规则不代表乙方对协助甲方完成债权受让以及债务人偿还本息或其他资金的支付日期作出任何承诺或保证。</p>
            <p>6.5 预期年化收益率： </p>
            <p>“月月赢”理财服务计划：甲方投资该笔资金对应的起始预期年化收益率（单利）为7%，按照自然月逐月递增0.5%的预期年化收益率，最高不超过12%的预期年化收益率。</p>
            <p>	“季季享”理财服务计划：甲方投资该笔资金满 90日 对应的预期年化收益率（单利）为9%；甲方投资该笔资金满 180日对应的预期年化收益率（单利）为 11%；</p>
            <p>“年账户”理财服务计划：甲方投资该笔资金满365日 对应的预期年化收益率（单利）为 13% 。</p>
            <p>6.6如果甲方的实际付款日期迟于融资文件约定的投资日期，但甲方以实际履行付款义务表明其接受融资文件，则甲方投资资金实际收益自甲方实际付款日起计算。</p>
            <p>6.7 收费标准。甲方了解并同意：甲方按照双方约定的如下标准从甲方投资金额、债务人偿还的本金、利息、其他资金或者甲方进行债权转让时的债权转让款项中支付费用：</p>
            <p>6.7.1 预期收益达成服务费。若甲方在债权转让时持有的债权对应的债务人未发生过逾期还款情形或者虽发生过逾期还款情形，但未通过信用管理费专用账户向甲方垫付债务人逾期本金及/或融资金额的，则甲方应向乙方支付预期收益达成服务费，金额相当于甲方债权总价值在转让时高出甲方投资资金与预期年化收益之和的部分。</p>
            <h4>第7条投资款项的支付</h4>
            <p>7.1若您选择第三方个人账户充值的方式支付投资款项，则适用如下条款。</p>
            <p>7.1.1 甲方同意在乙方指定的、经过中国人民银行审批核准的、具有第三方支付经营许可证的机构开设个人资金账户（以下称“第三方个人账户”）或委托乙方开设第三方个人账户，用于本协议下投资资金的支付。</p>
            <p>7.1.2 甲方开设第三方个人账户后，将获得唯一的用户名及密码，并拥有对该账户进行资金注入及资金提取的权利。</p>
            <p>7.1.3甲方同意并承诺按照经乙方确认的投资金额，直接向甲方的第三方个人账户进行资金注入。甲方在第三方个人账户中必须留有足够余额，否则因账户余额不足以及不可归责于乙方或乙方授权的委托方的任何事由，导致无法及时扣款或扣款错误、失败，责任由甲方自行承担。</p>
            <p>7.1.4因甲方提供的账户信息不真实、不合法、不准确，导致乙方或乙方委托的主体根据本协议约定从该第三方个人账户进行委托扣款操作引起的一切法律风险，由甲方自行承担。</p>
            <p>7.1.5甲方委托乙方，在本协议及附件约定范围内，管理甲方在第三方机构开设的第三方个人账户中的资金，包括向符合条件的债务人放款，以及接受债务人的还款、进行续投资等。乙方将根据融资文件所载明的出借及/或投资日期或者甲方在乙方平台点击投资或确认或类似涵义选项后任意一个时间点，将甲方购买债权款项划转给债务人。</p>
            <p> 7.1.6 所有向第三方个人账户注入或是追加资金，都必须经过乙方确认方为有效。非经乙方确认的资金，仅属于甲方在本协议之外另行放入第三方个人账户之资金，不享有本协议下约定的资金收益及其相关权益。</p>
            <h4>第8条、风险揭示</h4>
            <p>一休理财非保本产品，甲方可能会因市场变动而蒙受一定程度的损失，甲方应充分认识投资风险，谨慎投资。</p>
            <p>8.1信用风险：如果基础债权的交易对手或者发布基础债权的平台发生信用违约，则可能影响投资收益，甚至致使甲方投入一休理财的本金受到损失。乙方将通过为债权出让人选择最为适合方为交易对手、选择较高信用级别的信用债权进行投资等方式力求降低信用风险。但是，乙方对基础债权风险的评估仅基于基础债权的对手方自行披露的信息以及发布该等基础债权的平台所公布的公开信息，乙方或者债权购买人均未对基础债权进行任何独立全面的尽职调查。如果基础债权在交易过程中发生交收违约，或者基础债权发布平台出现违约（例如拒绝支付到期的偿还的债务），或者基础债权的对手方或者发布平台披露的信息不准确、不真实、不完整，都有可能导致甲方参与一休理财的资金损失和收益变化。甲方所能获得的最终投资收益以乙方根据本协议实际支付的为准。</p>
            <p>8.2市场风险：因市场资金面紧张或利率波动、行业不景气、企业效益下滑等因素引起的风险。</p>
            <p>8.3信息传递风险：一休理财和本协议存续期内，甲方应始终关注乙方平台所载明和发布的相关信息。如果投资者未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素的影响使得投资者无法及时了解产品信息，并由此产生的责任和风险由投资者自行承担。</p>
            <p>8.4流动性风险：一休理财通过系统的债权转让机制实现甲方流动性需求，甲方的债权转让对象包括但不限于新购买用户及一休理财平台回购。一休理财平台通过备付金及到期债权实现债权回购的流动性需求。</p>
            <p>8.5其他风险：如自然灾害、金融市场危机、战争等不可抗力因素造成的相关投资风险。</p>
            <h4>第9条 文件保管</h4>
            <p>9.1 债权人与债务人之间的融资文件以电子文本形式生成，甲方委托乙方保存在乙方为此设立的专用服务器上。</p>
            <p>9.2 保管过程中，甲方可使用其自有账户登录到乙方平台查阅其投资资金所对应的融资文件。</p>
            <p>9.3 甲方须遵照本协议第10条保密条款的约定合理使用各项融资文件。</p>
            <h4>第10条 保密条款</h4>
            <p>10.1 在本协议“释义”中所约定的“个人信息”与“商业秘密”，均属于保密信息，各方应采取严格措施实施保密。</p>
            <p>10.2上述保密信息具体包括但不限于任何具有保密性质的有关披露方或其关联机构的业务经营、方法、知识产权、技术秘诀、发明、技术数据或说明、测试方法、商业和财务信息、研究和开发活动、产品和销售计划以及客户和厂商信息。</p>
            <p>10.3未经披露方事先书面同意，任何人不得向其他第三方披露保密信息，除非是债务人或乙方的董事、职员、顾问、控股公司、分支机构或其他关联公司需要知道保密信息，并且对本次交易进行信用评估。</p>
            <h4>第11条 税务处理</h4>
            <p>甲方在投资资金、受让、转让过程产生的相关税费，由甲方自行向其主管税务机关申报、缴纳，乙方不负责相关事宜处理。</p>
            <h4>第12条 合同解除与变更</h4>
            <p>12.1 如甲方要求解除本协议，需于投资日期前3个工作日签署并向乙方提交书面的《终止协议通知书》，经乙方同意并盖章后，本协议即行解除。</p>
            <p>12.2尽管有上述第13.1款的规定，但在甲方投资资金支付给债务人后，除选择本协议第6条转让方式退出本协议债权债务关系外，如无不可抗力情形，任何一方不得提前解除或终止本协议。</p>
            <h4>第13条  违约责任</h4>
            <p>13.1 任何一方违反本协议的约定，使得本协议的全部或部分不能履行，均应承担违约责任，并赔偿对方因此遭受的损失（包括由此产生的诉讼费和律师费用等）；如多方违约，根据实际情况各自承担相应的责任。违约方应赔偿因其违约而给守约方造成的损失，包括合同履行后可以获得的利益，但不得超过违反合同一方订立合同时可以预见或应当预见的因违反合同可能造成的损失。</p>
            <p>13.2如甲方无正当理由拒绝协助或配合乙方按照本协议第5条第6条对违约债务人的诉讼或其他追索行动，由此而导致乙方发生的各项费用以及已支付给甲方的补偿，甲方应对此违约承担赔偿责任。</p>
            <p>13.3 如任何一方违反本协议保密条款约定，则其应向遭受损失的另一方赔偿其实际损失包括但不限于其可预见的合同收益损失、诉讼费及律师费用等。</p>
            <h4>第14条 争议解决</h4>
            <p>14.1本协议在履行过程中，如发生任何纠纷，且协商不成的，双方约定向乙方所在地北京市朝阳区人民法院提起诉讼。</p>
            <p>14.2 因诉讼发生的各项费用包括但不限于鉴定费、调查费及律师费用等，全部由败诉方承担。</p>
            <h4>第15条 其他事项</h4>
            <p>15.1 如果甲方出现投资资产的继承或赠与，必须由主张权利的继承人或受赠人向乙方出示经公证机关公证的继承或赠与权利归属证明文件，经乙方确认后方可予以协助办理资产权属变更手续，由此产生的相关税费，由主张权利的继承人或受赠人向其主管税务机关申报、缴纳，乙方不负责相关事宜处理；</p>
            <p>15.2 本协议的传真件、复印件、扫描件等有效副本的效力与本协议原件效力一致；</p>
            <p>15.3双方确认，本协议的签署，生效和履行以不违反中国的法律法规为前提。如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力；</p>
            <p>15.4本协议采用电子文本形式制成，并保存在乙方（乙方可委托其合作方）为此设立的专用服务器上备查，各方均认可该形式的协议效力；</p>
            <p>15.5本协议自文本最终生成之日起生效，至甲方不再使用本协议对应的乙方服务且双方将所有的权利义务关系履行完毕时止；</p>
            <p>15.6本协议作为双方独立合同关系成立之证明，并不自动构成甲方与债务人之间融资文件的附件；</p>
            <p>15.7双方另行确认或以电子文本形式最终生成的其他文件如明确为本协议的附件，应构成本协议的一部分；如附件和本协议正文存在任何冲突，应当以附件为准；如双方另行确认或生成多个附件，且各附件互不冲突，则多个附件共同适用于本协议正文的相关条款；</p>
            <p>15.8 甲方在审阅完毕本协议文本时，已阅读并自愿做出以下承诺：</p>
            <p>“本人已经阅读本协议所有条款，充分了解并清楚知晓相应的权利义务，并愿意承担相关风险。”</p>
            <p>您充分理解并同意，以下为各类融资文件的范本，根据借款人及借款性质等信息的不同，融资文件可能会有相应的调整，您点击同意本范本的行为即表示您自愿承诺接受以下融资文件范本以及根据不同情形作出 调整后的文件版本。</p>
        </div>
    </div>
</div>
</body>
</html>