<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>安全保障</title>
    <meta name="description" content="一休理财">
    <meta name="keywords" content="理财">
    <meta name="author" content="Globak-x">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="../css/m_base.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/safety.css"/>
    <script src="../js/loader/sea.js"></script>
    <script src="../js/loader/sea-config.js"></script>
</head>
<body>
<div class="safety">
    <div class="safetyMan"><img src="../images/safety-man.png"/></div>
    <div class="safety-title">
        <h2>一 项目安全-六道风控模型</h2>
        <div class="safetyOne">
            <dl>
                <dt>
                    <b>1</b>
                    <span>立项</span>
                </dt>
                <dd>项目准入标准明确，独立部门专职受理</dd>
            </dl>
            <dl>
                <dt>
                    <b>2</b>
                    <span>合规</span>
                </dt>
                <dd>资深律师专业审查，保障项目合规合法</dd>
            </dl>
            <dl>
                <dt>
                    <b>3</b>
                    <span>尽调</span>
                </dt>
                <dd>尽调团队实地考察，客观取证深入分析</dd>
            </dl>
            <dl>
                <dt>
                    <b>4</b>
                    <span>初审</span>
                </dt>
                <dd>客观评估融资需求，交叉检验调研结果</dd>
            </dl>
            <dl>
                <dt>
                    <b>5</b>
                    <span>评审</span>
                </dt>
                <dd>多行业专家360度评审，独立风险评估官一票否决</dd>
            </dl>
            <dl>
                <dt>
                    <b>6</b>
                    <span>贷后</span>
                </dt>
                <dd>实时监控承租主体，定期评估合作机构，留存优质战略伙伴</dd>
            </dl>
        </div>
    </div>
    <div class="safety-lock">
        <h2>二 资金安全</h2>
        <div class="safetyOne">
            <dl>
                <dt><span>1.物权担保：</span>利用出租方拥有所有权、承租方仅有使用权的物权保护手段，出租方可据合同直接回收、处置租赁物从而规避投资人风险。</dt>
                <dd>
                    <img src="../images/pic.png"/>
                </dd>
            </dl>
            <dl>
                <dt><span>2.项目担保：</span>若承租企业无法在项目到期日足额向投资者还本付息，则由国有融资担保公司履行担保责任，向投资者兑付全部本息</dt>
                <dd>
                    <img src="../images/pic1.png"/>
                </dd>
            </dl>
            <dl>
                <dt><span>3.收益保障：</span>投资人赎回资金后，将由平台合作的商业保理公司对债权进行无条件收购，从而顺利完成退出机制</dt>
                <dd>
                    <img src="../images/pic2.png"/>
                </dd>
            </dl>
            <dl>
                <dt><span>4.连带还款：</span>若承租企业不能按时足额向投资者还本付息，同时国有担保公司因内部审批流程可能在履行代偿责任时出现逾期付款风险，则由融资租赁公司向投资者承担连带付款责任支付全额本息收益</dt>
                <dd>
                    <img src="../images/pic3.png"/>
                </dd>
            </dl>
            <dl>
                <dt><span>5.资金托管模式：</span>与第三方账户托管机构易宝支付达成战略合作。按照“专款专用”的标准模式运作，对账户资金进行落地审查，确保投资人的资金安全</dt>
                <dd>
                    <img src="../images/pic4.png"/>
                </dd>
            </dl>
            <dl>
                <dt><span>4.连带还款：</span>若承租企业不能按时足额向投资者还本付息，同时国有担保公司因内部审批流程可能在履行代偿责任时出现逾期付款风险，则由融资租赁公司向投资者承担连带付款责任支付全额本息收益。</dt>
                <dd>
                    <img src="../images/pic5.png"/>
                </dd>
            </dl>
        </div>
    </div>
    <div class="safety-lock">
        <h3>三 技术安全-银行级别的安全保障</h3>
        <div class="safetyOne">
            <dl>
                <dt><span>1.数据安全：</span>IT团队在信息安全和数据安全方面有非常丰富的经验，让投资者享受银行级别的安全保障，三层防火墙隔离系统，多重入侵防范及异地灾备，确保交易数据安全</dt>
            </dl>
            <dl>
                <dt><span>2.隐私安全：</span>网站所有的隐私信息都经过银行级加密处理，防止他人获取用户信息，在任何情况下都不会出售、出租或以任何其他形式泄露用户信息，有效保护用户隐私安全</dt>
            </dl>
            <dl>
                <dt><span>3.信息安全：</span>128位ssl加密技术，享受银行级别的安全保障</dt>
            </dl>
            <dl>
                <dt><span>4.密码安全：</span>MD5安全加密技术，有力地保障了用户账户安全</dt>
            </dl>
            <dl>
                <dt><span>5.防护安全：</span>采用自建IDC模式保障客户信息安全，采取异地双机房模式，确保99.9999%的客户访问流畅及安全</dt>
                <dd>
                    <img src="../images/pic6.png"/>
                </dd>
            </dl>
        </div>
     </div>
    <div class="safety-lock">
        <h2>四 合法合规</h2>
        <div class="safetyOne">
            <ul>
                <li>
                    <span>1.电子合同的合法性</span>
                    <p>根据《合同法》第11条的规定，当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同。电子合同是法律认可的书面合同形式之一。一休理财采取用户网上点击确认的方式签署电子合同。点击确认后的电子合同符合《中华人民共和国合同法》规定的合同成立、生效的要件，其有效性也被人民法院的司法实践所接受。</p>
                </li>
                <li>
                    <span>2.电子合同的有效性</span>
                    <p>通过一休理财审核的借款方向投资方借贷，双方通过平台的电子借贷协议，明确双方的债务与债权关系。依据中华人民共和国合同法第十一条规定：“书面形式是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式”，一休理财上电子合同与传统合同具有同等的法律效力，一休理财服务仅向符合中华人民共和国有关法律法规及本公司相关规定的合格投资人和借款人提供。</p>
                </li>
                <li>
                    <span>3.居间服务的合法性</span>
                    <p>一休理财为投资人和融资租赁公司提供专业的居间服务，是第三方信息撮合平台。根据《中华人民共和国合同法》第424条关于居间合同、居间服务的规定，一休理财符合法律规定，且受到法律保护。</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    seajs.use('../js/invite')
</script>
</body>
</html>
