<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="../css/test.css"/>
</head>
<body>
    <!-- include a.html -->
        <div class="a">
        <h2>aaaaaaaaaaaaaaa</h2>
        <p>11111</p>
        <p>22222</p>
        <img src="../images/activity/share_hb.png" alt=""/>
    </div>

    <h3 class="h3">1111</h3>
    <h3>2222</h3>
    <h3>3333</h3>
    <h3>4444</h3>
    <h3>5555</h3>
    <h3>6666</h3>
    <h3>7777</h3>
    <h3>8888</h3>
</body>
</html>