.mod-main{
	padding: 35px 20px 20px 20px;
}
/*暂无收益*/
.yesterday-title{
	background: #ff6573;
	padding: 5px 20px 0px 20px;
}
.yesterday-title h4{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.yesterday-title h3{
	font-size: 16px;
	color: #fff;
	padding:5px 0 5px 0;
}
.yesterday-title h3 .mount{
	display: block;
	float: right;
	font-size: 12px;
	color: #ff6573;
	padding-top: 5px;
	background: #fff;
	padding: 2px 5px;
	border-radius: 5px;
}
.income-append-left h2 b{
	display: block;
	width: 20px;
	height: 20px;
	margin:8px 12px 0 8px;
	background: url(../images/rush_icon1.png) no-repeat;
	background-size: 96%;
	float: left;
}
.gx-aim{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #fff;
}
.gx-aim a{
    display: block;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
    float: left;
    overflow: hidden;
    border-top: 2px solid #fff;
	height: 55px;
	line-height: 50px;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
}
.gx-aim a:visited,
.gx-aim a:active{
    color: #FFF;
}
.gx-aim-left{
	  border-bottom:5px solid #e95260;
	  background: #fe7b87;
}
.gx-aim-right{
	  border-bottom:5px solid #009dcc;
	  background: #00b7ee;
}

/*使用加息券*/
.add-moner{
	position: relative;
	overflow: hidden;
	margin-top: 15px;
}
.ui-checkbox{
	position: absolute;
	left: 0px;
	width: 40px;
	height: 40px;
	float: left;
	margin-top:29px;
}

.ui-checkbox input {
  display: inline-block;
  position: relative;
  overflow: visible;
  width: 40px;
  height: 40px;
  border:none;
  background: none;
  -webkit-appearance: none;
  outline: none;
  vertical-align: middle;
}

.ui-checkbox input:before {
  border:1px solid #dfdfdf;
  border-radius: 5px;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
}

.ui-checkbox input:checked:before {
  background: url(../images/add-money.jpg) no-repeat;
  -webkit-background-size:100%;
}
.atong-false{
	background: #dedede;
	border-radius: 5px;
	width: 41px;
	height: 41px;
	margin-top:29px;
	float: left;
}
.add-money-right{
	background: #fe7c88;
	border-radius: 5px;
	margin-left:50px;
	position: relative;
}
.add-money-right h2 i{
	display: block;
	width: 20px;
	height: 20px;
	margin:8px 12px 0 8px;
	background: url(../images/append.png) no-repeat;
	background-size: 96%;
	float: left;
}
.add-money-right h2 span{
	color: #fff;
	font-size: 18px;
	display: block;
	float: left;
	margin-top:5px;
}
.add-money-num{
	clear: both;
	border-bottom:1px dashed #fff;
	overflow: hidden;
	padding-bottom: 20px;
}
.add-money-num b{
	display: block;
	float: left;
	width: 50%;
	color: #fff;
	font-size: 60px;
	text-align: center;
}
.add-money-num b span{
	color: #fff;
	font-size: 30px;
}
.add-moner-word{
	float: left;
	width: 50%;
}
.add-moner-word h3{
	color: #fff;
	font-size: 16px;
}
.add-moner-word p{
	color: #fff;
	font-size: 16px;
}
.add-money-time{
    text-align: center;
    padding:10px 0;
}
.add-money-time span{
	color: #b12431;
	font-size: 16px;
	padding-left: 15px;
}
.add-money-time span b{
	color: #fff;
}
@media (max-width: 320px) {
    .add-money-num b{
		font-size: 30px;
    }
    .add-money-time span{
		font-size: 12px;
    }
    .add-moner-word p {
	   font-size: 12px;
   }
}
.add-moner-pass{
	background: #dedede;
}
.add-money-time1{
    text-align: center;
    padding:10px 0;
}
.add-money-time1 span{
	color: #fff;
	font-size: 16px;
	padding-left: 15px;
}
.add-money-time1 span b{
	color: #fff;
}
@media (max-width: 320px) {
    .add-money-time1 span{
		font-size: 12px;
    }
}
.add-money-pic{
	position: absolute;
	top: 38px;
	left:44px;
}
.add-money-pic img{
	width: 65%;
}
.add-money{
	border-top:1px solid #c8c8c8;
	height: 46px;
	line-height: 46px;
	margin-top: 15px;
}
.add-money p{
	color: #b4b4b4;
	font-size: 16px;
	width: 70%;
	float: left;
	padding-left: 20px;
}
.add-money p b{
	color: #fe7c88;
}
.add-money a{
	display: block;
	width: 30%;
	float: left;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background: #00b7ee;
	text-align: center;
}
.datail-rule{
	display: block;
	color: #0dbbef;
	font-size: 16px;
	text-align: center;
	margin:50px 0 10px 0;
}











