
.mod-main{
    padding: 35px 20px 20px 20px;
}
.plus-income{
	margin:0 auto;
	width: 100%;
}
.plus-income h2{
	overflow: hidden;
	width: 147px;
	margin:20px auto 0;
}
.plus-income h2 i{
	 color: #fff;
	 display: block;
	 font-weight: bold;
	 font-size: 28px;
	 width: 48px;
	 height: 48px;
	 text-align: center;
	 line-height: 48px;
	 background: #fe7c88;
	 border-radius: 50%;
	 float: left;
}
.plus-income h2 span{
	 color: #b4b4b4;
	 display: block;
	 font-size: 16px;
	 font-weight: bold;
	 float: left;
	 padding-left: 10px;
}
.plus-income p{
	 color: #fe7c88;
	 font-size: 16px;
	 font-weight: bold;
	 padding-top: 10px;
	 text-align: center;
}
.income-list{
	margin-top:20px;
}
.income-list li{
	margin-top:10px;
	background: #f0f0f0;
	overflow: hidden;
	border-radius: 5px;
	line-height: 48px;
	padding:10px 0;
}
.income-list li h3{
	float: left;
	padding-left: 20px;
}
.income-list li .plus-blue,
.income-list li .plus-red{
	color: #fff;
	display:inline-block;
	font-weight: bold;
	font-size: 28px;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	border-radius: 50%;
	vertical-align: middle;
}
.income-list li .plus-blue{
	background: #00b7ee;
}
.income-list li .plus-red{
	background: #fe7c88;
}
.income-list li b{
	color: #00b7ee;
	font-weight: bold;
	font-size: 16px;
	padding-left: 20px;
	vertical-align: middle;
}
.income-list li span{
	color: #b4b4b4;
	display: block;
	float: right;
	font-size: 16px;
	padding-right: 20px;
}
/*收益大对比*/
.wrong{
	width: 50px;
	height: 50px;
	background: url(../../images/wrong.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top:20px;
	right: 10px;
}
.balance{
	display: none;
	background: #fff;
	padding: 20px;
	position: relative;
	border-radius: 5px;
}
.balance h2{
	color: #969696;
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
}
.balance h3{
	color: #fe7c88;
	font-weight: bold;
	font-size: 40px;
	padding-top: 20px;
	text-align: center;
}
.balance h3 span{
	font-size: 30px;
}
.balance p{
	color: #969696;
	font-size: 16px;
	padding-top: 10px;
	text-align: center;
}
.balance-bottom{
	background: #f0f0f0;
	overflow: hidden;
	width: 100%;
	margin: 30px auto 30px;
	border-radius: 5px;
}
.balance-bottom dl:nth-child(1),
.balance-bottom dl:nth-child(3){
	border-right: 1px solid #fff;
}
.balance-bottom dl:nth-child(1),
.balance-bottom dl:nth-child(2){
	border-bottom: 1px solid #fff;
}
.balance-bottom dl{
	width: 50%;
	float: left;
	text-align: center;
}
.balance-bottom dl dt{
	font-weight: bold;
	font-size: 16px;
	color: #b4b4b4;
	padding-top: 15px;
}
.balance-bottom dl dd{
	font-weight: bold;
	font-size: 16px;
    color: #808080;
	padding:10px 0 15px 0;
}
/*资金流向*/
.pointer-income dl{
	background: #fafafa;
	height: 60px;
	line-height: 60px;
}
.pointer-income dl dt{
	background: #fafafa;
	height: 60px;
	line-height: 60px;
}
.pointer-income dl dt{
	color: #fff;
	display:inline-block;
	font-weight: bold;
	font-size: 18px;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border-radius: 14px;
	background: #00b7ee;
	float: left;
	margin: 15px 0 0 20px;
}
.pointer-income dl dd{
	float: left;
	color: #00b7ee;
	font-weight: bold;
	font-size: 16px;
	padding-left: 20px;
}
.pointer-cod{
	background: #fafafa;
	padding:0 20px 20px 20px;
	margin-top: 20px;
}
.pointer-cod h2{
	color: #b4b4b4;
	font-size: 16px;
	padding-top: 20px;
}
.pointer-cod h2 span{
	color: #646464;
	font-size: 16px;
}
.pointer-cod p{
	color: #646464;
	font-size: 16px;
	margin-top: 10px;
}
.look-confer{
	color: #00b7ee;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}
.pointer-cod-main{
	min-height: 400px;
}
.pointer-cod-main .pointer-word{
	font-size: 16px;
	color: #646464;
	text-align: center;
	padding-top: 30px;
}
.footer-invest{
	padding-bottom: 50px;
}









