 @{    
    Layout = null;
} 
            <div class="assets-special">
                <div class="cats-special">
                    <span class="cats-icon">益</span>
                    累计收益（元）
                </div>
                <p>0.00</p>
            </div>
            <div class="userIncomePic"></div>
                     <!-- e休理财投资优势 -->
            <div class="gl-financing">
                <div class="gl-line1"></div>
                <div class="gl-line2">e休理财投资优势</div>
                <div class="gl-line3"></div>
            </div>
            <div class="gl-financing-list">
                <dl class="gl-financing-list1">
                    <dt>
                        <img src="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "images/money.png")"></dt>
                    <dd>门槛低收益高</dd>
                    <dd>年化收益最高15%</dd>
                </dl>
                <dl class="gl-financing-list2">
                    <dt>
                        <img src="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "images/dong.png")"></dt>
                    <dd>低风险有保障</dd>
                    <dd>六道风控严格把关</dd>
                </dl>
                <dl class="gl-financing-list3">
                    <dt>
                        <img src="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "images/winnower.png")"></dt>
                    <dd>自由投灵活赎</dd>
                    <dd>保理机制自由赎回</dd>
                </dl>
            </div> 

