@{
    ViewBag.Title="e休理财";
    }
<link rel="stylesheet" href="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "css/uc/uc_matter.css")">

<div class="uc-sy">
    <div class="uc-syPic"><img src="@YxLiCai.HttpPageHelper.GetRemoteNetURL(YxLiCai.SystemSiteEnum.StaticResourceMallWeb, "images/sy_man.png")" /></div>
    <div class="uc-sy-list">
        <span>1</span>
        <h2>e休理财是谁？</h2>
        <p>e休理财以控制风险，稳健理财为理念，注重用户体验，关注并尊重用户需求与感受，通过建立一个安全、透明、高效的平台，为用户提供安全、灵活、高收益的互联网理财服务。月月盈产品更是把高收益和流动性结合起来，适合对流动性有高需求的用户。加入e休，休息一下、收益留下。</p>
    </div>
    <div class="uc-sy-list">
        <span>2</span>
        <h2>e休理财高收益来自哪？</h2>
        <p>e休理财是一款专注于个人理财的互联网金融产品，首创采用A2P模式，为投资者提供基于以融资租赁债权交易为基础的移动互联网金融信息服务。致力于探索个人理财与融资租赁市场之间的融通渠道，为投资者、优质个人小微债权构建安全、便捷通道，帮助投资者调整资金流动性与收益最大化的矛盾，理财通过匹配技术和债权金融产品创新，开发月月盈、季季丰、年年享等不同账户，7-13%递增的年化收益，支持随时存取。e休理财的目的就是让个人财务如e休一样，聪明、灵活，从而实现利润最大化。</p>
    </div>
    <div class="uc-sy-list">
        <span>3</span>
        <h2>e休理财如何对资金保驾护航</h2>
        <p><i>安全保障：</i>第三方资金托管，A2P模式物权担保，国有融资担保公司担保，融资租赁公司连带还款。</p>
        <p><i>高收益产品：</i> 最高可达15%收益，投资当日计息，支持随时赎回，随时随地开始理财。</p>
        <p><i>多元化选择：</i>100起投门槛低，产品期限多元化，个性化理财组合，轻松自在理财。</p>
    </div>
    <div class="uc-sy-list">
        <span>4</span>
        <h2>e休理财有哪些优质产品</h2>
        <p>
            <i>月月盈</i><br />
            <strong>预期年化收益率</strong>
            <b>7%-12%（7%起，逐月涨0.5%）</b>
            <strong>起投金额</strong>
            <b>100元</b>
            <strong>产品期限</strong>
            <b>无期限</b>
        </p>
        <p>
            <i>季季享（三个月）</i><br />
            <strong>预期年化收益率</strong>
            <b>9%</b>
            <strong>起投金额</strong>
            <b>100元</b>
            <strong>产品期限</strong>
            <b>3个月</b>
        </p>
        <p>
            <i>季季享（六个月）</i><br />
            <strong>预期年化收益率</strong>
            <b>11%</b>
            <strong>起投金额</strong>
            <b>100元</b>
            <strong>产品期限</strong>
            <b>6个月</b>
        </p>
        <p>
            <i>年年丰</i><br />
            <strong>预期年化收益率</strong>
            <b>13%</b>
            <strong>起投金额</strong>
            <b>100元</b>
            <strong>产品期限</strong>
            <b>12个月</b>
        </p>
    </div>
    <div class="uc-sy-list">
        <span>5</span>
        <h2>e休理财团队和集团实力。</h2>
        <p>e休理财是安徽钰诚控股集团股份有限公司倾力打造的，以为基础的互联网金融居间服务平台，公司全称为“易休投资顾问有限公司”，总部位于北京 。</p>
        <p>安徽钰诚控股集团股份有限公司，是以融资租赁主导的金融服务为核心的，集高新技术制造业、现代服务业等为一体的综合性集团。安徽钰诚控股集团旗下的安徽钰诚融资租赁有限公司是一家经营规模超过百亿的大型融资租赁公司，是目前安徽规模最大的中外合资融资租赁公司，也是全国规模最大的中外合资融资租赁公司之一。</p>
    </div>
</div>
<!-- 浮动栏 -->
<div class="yx-fixedBar">
    <a class="yx-back" href="javasrcipt:void(0);">返回</a>
    <a class="yx-home" href="/">首页</a>
</div>
<script> 
    seajs.use('fixed_bar');
</script>