@section styles
{
    <link href="~/Resource/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Resource/js/My97DatePicker/WdatePicker.js"></script>
}
<div class="zpManage zpSh">
    <h2 class="crumbs">您所在位置：第三方管理->用户管理->修改登录密码
    </h2>
</div>
<div class="gx-textitem">
    <table>
        <tr>
            <td>
                <label class="gx-texttitle">原始密码：</label></td>
            <td>
                <input id="oldpwd" type="password" placeholder="请输入原始密码" style="width: 200px" /></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label class="gx-texttitle">新密码：</label></td>
            <td>
                <input id="newpwd" type="password" placeholder="请输入6-16位数字、字母或下划线" style="width: 200px" /></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label class="gx-texttitle">确认密码：</label></td>
            <td>
                <input id="conpwd" type="password" placeholder="请输入6-16位数字、字母或下划线" style="width: 200px" /></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center; color: red; font-size: larger">
                <p id="message"></p>
        </tr>

        <tr>
            <td colspan="3">
                <div class="SearchMd">
                    <input type="button" id="updatepw" value="修改" class="searchBtn" />&nbsp;&nbsp;&nbsp;
                    <input type="button" value="取消" class="searchBtn" onclick="javascript: window.location.href = 'Index'" />
                </div>
                <td>
        </tr>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#updatepw").click(function () {

            var oldpwd = $("#oldpwd").val().replace(/[ ]/g, "");
            var newpwd = $("#newpwd").val().replace(/[ ]/g, "");
            var conpwd = $("#conpwd").val().replace(/[ ]/g, "");

            if (oldpwd == "") { $("#message").html("请输入原始密码"); return; } else { $("#message").empty(); }
            if (newpwd == "") { $("#message").html("请输入新密码"); return; } else { $("#message").empty(); }
            if (conpwd == "") { $("#message").html("请输入确认密码"); return; } else { $("#message").empty(); }
            if (!pcheckPassword(newpwd)) { $("#message").html("新密码输入格式有误"); return; } else { $("#message").empty(); }
            if (!pcheckPassword(conpwd)) { $("#message").html("确认密码输入格式有误"); return; } else { $("#message").empty(); }
            if (conpwd != newpwd) { $("#message").html("两次密码输入不一致"); return; } else { $("#message").empty(); }
            var falg = false;
            $.ajax({
                type: "POST",
                async: false,
                url: "/Financing/CheckUserPW",
                data: { Passwerd: oldpwd },
                success: function (data) {
                    if (data.Status == 1) {
                        falg = true;
                    } else {
                        $("#message").html(data.Message);
                        return;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                },
            });
            if (falg) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/Financing/UpdatePassword",
                    data: { Passwerd: newpwd },
                    success: function (data) {
                        if (data.Status == 1) {
                            alert("修改成功");
                            window.location.href = "Index";
                        } else {
                            $("#message").html(data.Message);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    },
                });
            } else { alert("原始密码错误"); }



        });
    });
    ///检测密码（）
    function pcheckPassword(str) {
        var reg = /^[0-9a-zA-Z_/]{6,16}$/;
        if (!reg.test(str)) {
            return false;
        } else {
            return true;
        }
    };
</script>
