.mod-main{
	padding: 35px 20px 20px 20px;
}
.bring-up li{
	margin-top: 15px;
}
.bring-up li h2{
	background: #dfdfdf;
	height: 46px;
	line-height: 46px;
}
.bring-up li h2 b{
	color: #969696;
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
}
.bring-up li p{
	float: right;
	font-size: 16px;
}
.bring-up li p span{
	color: #969696;
	display:block;
	float: left;
	padding-right: 20px;
}
.bring-up li p span em{
	color: #ff445a;
	font-weight: bold;
}
.bring-up li i{
	display:block;
	float: left;
	width: 28px;
	height: 28px;
	background: url(../images/bank_s.png) no-repeat;
	background-size: 62%;
	margin-top: 13px;
	margin-right:10px;
}
.bring-up li i.hover{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(../images/bank_h.png) no-repeat;
	background-size: 62%;
	margin-top: 13px;
	margin-right:10px;
}
.bring-select{
	display: none;
}
.bring-up li h3{
	background: #fafafa;
	height: 46px;
	line-height: 46px;
	border-top:1px solid #fff;
}
.bring-up li h3 p{
	padding-right: 37px;
}
.bring-up li h3 b{
	color: #b4b4b4;
	font-size: 18px;
	padding-left: 20px;
	font-weight: normal;
}






