/* index */
#header{
	width: 100%;
	min-width: 320px;
	text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin:0 auto;
    z-index: 9999;
}
#footer{
    width: 100%;
    margin:0 auto;
    min-width: 280px;
    text-align: center;
    font-size: 14px;
}
.m-wrap{
    width: 100%;
    margin:0 auto;
    min-width: 320px;
    background: #FFF;
    color: #333;
    padding-top: 30px;
    /*max-width: 640px;*/
}

.header-bar{
    font-size: 14px;
    max-height: 96px;
    min-height: 50px;
    line-height: 50px;
    border-color: #00b7ee;
    background-color: #00b7ee;
    color: #fff;

}
.footer-bar{
	font-size: 14px;
    padding: 10px 10px 20px;
}
.footer-bar ul{
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
}
.footer-bar li{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    flex: 1;
    position: relative;
}
.footer-bar li span,
.footer-bar li a{
    color: #969696
}
.footer-bar li span{
    position: absolute;
    top: 0;
    right: -2px
}
.footer-bar li.login-nav a{
   color: #009dcc;
}
.footer-bar li.login-nav span{
    position:static;
}

.gx-container{
    padding: 0 20px;
}
/* UI triangle */
.triangle-top-sb{
    display: none;
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #FFF;
    font-size:0px;
    line-height:0px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -5px;
}
.triangle-top-b{
    display: block;
    width:0px;
    height:0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #FFF;
    font-size:0px;
    line-height:0px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    z-index: 999;
    margin-left: -10px;
}

.ui-tab{}
.ui-tab-nav{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #00b7ee;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    /*display: -webkit-flex;*/
    /*display: -moz-flex;*/
    /*display: -ms-flex;*/
    /*display: -o-flex;*/
    /*display: flex;*/
    height: 42px;
}
.ui-tab-nav li{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    min-width: 90px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    /*-webkit-flex: 1;*/
    /*-moz-flex: 1;*/
    /*-ms-flex: 1;*/
    /*-o-flex: 1;*/
    /*flex: 1;*/
    text-align: center;
}
.ui-tab-nav li:nth-child(1){
    border-right: 1px solid #00b7ee;
}
.ui-tab-nav li:nth-child(2){
    border-right: 1px solid #00b7ee;
}
.ui-tab-nav li a{
    color: #00b7ee;
    display: block;
}
.ui-tab-nav li.current{
    background: #00b7ee;
    color: #FFF
}
.ui-tab-nav li.current a{
    background: #00b7ee;
    color: #FFF;
    width: 100%;
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-conts{
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.item-main{
    padding: 20px 20px 30px;
}
.item-earnings{
    margin-bottom: 20px;
}
.item-box{
    max-width: 480px;
    min-width: 240px;
    min-height:280px;
    background: #46cef8;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    position: relative;
}
.item-box a{
    position: relative;
    display: block;
    width: 100%;
    min-height:280px;
    overflow: hidden;
    color: #FFF;
}
.item-box a:visited,
.item-box a:active{
    color: #FFF;
}
.item-conts{
    position: absolute;
    width: 100%;
    bottom:12%;
    left: 0;
    z-index: 99;
}
.item-conts h3{
    font-size: 16px;
    color: #FFF;
}
.item-conts p{
    font-size: 16px;
}
.item-rate{
    margin-bottom: 30px;
    font-size: 32px;
}
.item-rate strong{
    font-size: 78px;
    line-height: 80px;
}
.item-rate span{
    display: inline-block;
    font-family: 'keepcalm';
    margin-left: -10px;
    vertical-align: text-bottom;
}
.item-infor{
    border: 1px solid #f5f5f5;
    border-top: none;
    text-align: center;
    padding: 10px;
}
.item-infor a{
    display: inline-block;
    font-size: 16px;
    color: #00b7ee;
}
.item-infor b{
    margin-right: 5px;
    margin-bottom: -1x;
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url(../images/infor_icon.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.item-rush{
    display: block;
}
.item-rush dl{
    overflow: hidden;
    background: #fe7c88;
    color: #FFF;
    border-radius: 5px;
}
.item-rush dt{
    float: left;
    width: 70px;
    height: 62px;
    border-right: 1px dashed #FFF;
    background: #ff6775 url(../images/rush_icon.png) no-repeat center;
    -webkit-background-size: 65% auto;
    background-size: 65% auto;
}
.item-rush dd{
    overflow: hidden;
    zoom: 1;
    padding:12px 10px 10px 15px;
    font-size: 12px;
    font-weight: 700;
}
.item-rush dd p{
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
@media (max-width: 360px) {
    .item-rush dl{
        font-size: 12px;
    }
}
@media (max-width: 320px) {
    .item-rush dl{
        font-size: 12px;
    }
    .item-rush dt{
        width: 80px;
    }
    #item-month .assets-quarter{
        background: url(../images/month.png) no-repeat 0px center;
    }
}


/* UI Button */
.ui-btn{
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    /*box-shadow: 0 5px 0 0 #009dcc;*/
    border-radius: 5px;
    background: #00b7ee;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
}
.ui-btn-warn{
    background: #fe7c88;
    /*box-shadow: 0 5px 0 0 #e95261;*/
}
.ui-btn-gray{
    background: #dfdfdf;
    /*box-shadow: 0 5px 0 0 #c8c8c8;*/
    cursor: default;
}

/* UI Wave */
.progress-setting{
    background: #1DB9EB;
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.wave-ui{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: -10px;
}
.wave-bg-1,
.wave-bg-2{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
}
.wave-bg-1{
    height: 80px;
    bottom: 5%;
    z-index: 3;
    background: url(../images/w_bg01.png) repeat-x center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-animation: wave-AT 1s infinite ease-in-out;
    -moz-animation: wave-AT 1s infinite ease-in-out;
    -ms-animation: wave-AT 1s infinite ease-in-out;
    -animation: wave-AT 1s infinite ease-in-out;
}
.wave-bg-2{
    bottom: 33%;
    z-index: 2;
    background: url(../images/w_bg02.png) repeat-x center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-animation: wave-AT 2s infinite ease-in-out;
    -moz-animation: wave-AT 2s infinite ease-in-out;
    -ms-animation: wave-AT 2s infinite ease-in-out;
    -animation: wave-AT 2s infinite ease-in-out;
}
@-webkit-keyframes wave-AT {
    0% {
        -webkit-transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes wave-AT {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateY(-3px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}

@-ms-keyframes wave-AT {
    0% {
        -ms-transform: translateY(0px);
    }
    50% {
        -ms-transform: translateY(-3px);
    }
    100% {
        -ms-transform: translateY(0px);
    }
}

@keyframes wave-AT {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* gxTabs */
.gxtabs-wrap{
}
.gxtabs-nav{
    padding: 20px 20px 0;

}
.gxtabs-nav ul{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    height: 30px;
}
.gxtabs-nav li{
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #00b7ee;
    border: 1px solid #f0f0f0;
    min-width: 100px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    flex: 1;
    text-align: center;
}
.gxtabs-nav li:first-child{
    border-right: none;
}
.gxtabs-nav li:last-child{
    border-left: none;
}
.gxtabs-nav li.active{
    border: 1px solid #00b7ee;
    background: #00b7ee;
    color: #FFF;
}
.gxtabs-nav li.active .triangle-top-sb{
    display: block;
}
.do-btn a,
.do-btn a:hover,
.do-btn a:visited,
.do-btn a:active{
    color: #FFF;
}
.yes-login .item-conts p{
    color: #FFF;
}
/* 月 */
#item-month .assets-quarter strong{
    color: #00b7ee;
}
#item-month .assets-quarter{
    background: #f5f5f5 url(../images/month.png) no-repeat 30px center;
    background-size: 50px auto;
    margin-top: 20px;
}
#item-month .item-box a{
    color: #FFF;
}
/* 季 */
#item-quarter .item-main{
    padding:10px 20px 30px;
}
#item-quarter .progress-setting{
    background: #F24E5C;
}
#item-quarter .item-box{
    background: #FE7C88;
}
/*#item-quarter .item-conts h3,*/
/*#item-quarter .item-box a,*/
/*#item-quarter .item-box{*/
    /*color: #fe7c88;*/
/*}*/
#item-quarter .item-infor a{
    color: #fe7c88;
}
#item-quarter .item-infor b{
    background: url(../images/infor_icon_r.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
#item-quarter .wave-bg-1{
    background: url(../images/w_bg05.png) repeat-x center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
#item-quarter .wave-bg-2{
    background: url(../images/w_bg06.png) repeat-x center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
#item-quarter .assets-quarter{
    background: #f5f5f5 url(../images/season_pic.png) no-repeat 20px center;
    background-size: 50px auto;
    margin-top: 20px;
}
/* 年 */
#item-year .assets-quarter strong{
    color: #ffc016;
}
#item-year .assets-quarter{
    background: #f5f5f5 url(../images/year.png) no-repeat 20px center;
    background-size: 50px auto;
    margin-top: 20px;
}

#item-year .progress-setting{
    background: #E2A82B;
}
#item-year .item-box{
    background: #FCC642;
;
}
/*#item-year .item-conts h3,*/
/*#item-year .item-box a,*/
/*#item-year .item-box{*/
    /*color: #ffc016;*/
/*}*/
#item-year .item-infor a{
    color: #ffc016;
}
#item-year .item-infor b{
    background: url(../images/infor_icon_y.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
#item-year .wave-bg-1{
    background: url(../images/w_bg03.png) repeat-x center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
#item-year .wave-bg-2{
    background: url(../images/w_bg04.png) repeat-x center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
/* register */
.reg-box{
    padding:0 20px;
}
.reg-list{
    padding-bottom: 20px;
}
.reg-list dl{
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
}
.reg-list dt{
    width: 70px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: #00b7ee;
    opacity: 0.9;
    color: #FFF;
}
.reg-list .right-style{
    border-radius: 0 5px 5px 0;
    width: 140px;
    left: inherit;
    right: 0;
}
.reg-list .right-style a{
    color: #FFF;
    display: block;
}
.reg-list .left-style{
    width: 90px;
}
.reg-list .gray-status{
    background: #e1e1e1;
    color: #FFF;
}
.reg-list dd{
    width: 100%;
}
.reg-list .input-txt{
    padding:5px 10px 5px 80px;
    width:100%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    font-family: "Microsoft Yahei";
}
.reg-list .phone-code{
    padding:5px 10px 5px 10px;
}
.reg-list .reg-pwd{
    padding:5px 10px 5px 100px;
}
.yx-tips{
    padding-top: 10px;
    color: #ff6379;
    font-size: 14px;
}
@media (max-width: 375px) {
    .yx-tips{
        font-size: 14px;
    }
}
@media (max-width: 320px) {
    .yx-tips{
        font-size: 12px;
    }
    .reg-list .phone-code,
    .reg-list .reg-pwd{
        font-size: 12px;
    }
    .fetch-list .man-num {
        font-size: 12px;
    }
    .yx-tips{
        font-size: 12px;
    }
}
.yx-tips a{
    color: #00b7ee;
    font-size: 14px;
}
.yx-safety{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #ff6379;
}
.show-pwd{
    position: absolute;
    top:16px;
    right: 10px;
    display: block;
    height: 16px;
    width: 34px;
    overflow: hidden;
    background: url(../images/pwd_icon.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
}
.yes-pwd{
    background: url(../images/pwd_icon_c.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.login-list .log-pwd,
.login-list .random-code{
   padding:5px 10px 5px 10px;
}
.login-list .code-img{
    background: #FFF;
    overflow: hidden;
    border: 1px solid #DFDFDF;
}
.login-list .code-img img{
    width: 100%;
}
.forget-link{
    padding-top: 10px;
    text-align: right;
}
.forget-link a,
.forget-link a:hover{
    color: #00b7ee;
    font-size: 14px;
}
.warm-tips{
    color: #fe7c88;
    font-size: 16px;
    padding-left: 10px;
}
.warm-tips p{
    padding-top: 10px;
}
.pop-box{
    padding: 20px;
    font-size: 14px;
}
.pop-box p{
    color: #999;
    margin-bottom: 30px;
}
.pop-box h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #00b7ee;
}
.pop-box .warning-color{
    text-align: center;
    color: #fe7c88;
    padding-top: 20px;
    margin-bottom: 0;
}
.cd-time{
    color: #00b7ee;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    background: url(../images/cd_time_bg.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

/* 资产页面 */
.assets-total{
    padding: 20px 0;
    background: #f5f5f5;
    margin:20px 0 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
}
.cats-toatl{
    min-width: 100px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    flex: 1;
    text-align: center;
}
.cats-toatl p{
    color:#00b7ee;
    font-size: 18px;
    font-weight: bold;
}
.cats-toatl p span{
    color: #BDB5B5;
    font-size: 14px;
}
.cats-icon{
    background: #00b7ee;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
}
.tatal{
    border-left: 1px dashed #dfdfdf;
}
.tatal .cats-icon{
    background: #fe7c88;
}
.tatal p{
    color: #fe7c88;
}
.assets-item{
    width: 100%;
    margin-bottom: 20px;
}
.assets-item p{
    padding-bottom: 5px;
    font-size: 14px;
    color: #969696;
}
.assets-box{
    width: 100%;
    background: #00b7ee;
    border-radius: 5px;
}
.assets-box dt{
    float: left;
    width: 18%;
    line-height: 150px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
}
.assets-box dd{
    background: #FFF;
    overflow: hidden;
    zoom: 1;
    position: relative;
}
.assets-rate{
    text-align: center;
    background: #f0f0f0;
    color: #969696;
    height: 75px;
    line-height: 75px;
    font-size: 14px;
    border-bottom: 2px solid #FFF;
    border-radius: 0 5px 0 0;
}
.assets-rate span{
    color: #fe7c88;
}
.assets-get{
    height:75px;
    background: #f0f0f0;
    color: #969696;
    border-radius: 0 0 5px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}
.assets-get li{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    text-align: center;
}
.assets-get li:last-child{
    border-left: 2px solid #FFF;
}
.assets-get li strong,
.assets-get li span{
    display: block;
    font-size: 14px;
    font-weight: normal;
}
.assets-get li span i{
    font-size: 16px;
}
.assets-get li strong{
    padding-top: 8px;
    font-size: 14px;
}
.assets-get li i{
    color: #00b7ee;
}
.assets-get li .color-r{
    color: #fe7c88;
}
.operation-btn{
    padding-bottom: 30px;
    padding-top: 20px;
}
.operation-btn a{
    float: left;
    margin: 0 5%;
}
.operation-btn a:visited,
.operation-btn a:active{
    color: #FFF;
}
.operation-btn .ui-btn-s1{
    width: 40%;
    /*box-shadow: 0 5px 0 0 #00b7ee;*/
    background: #fe7b87;
}
.operation-btn .ui-btn-s2{
    width: 40%;
}
.assets-to{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    background: url(../images/bottom_red.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 999;
}
.assets-time{
    position: absolute;
    display: block;
    width: 110px;
    height: 20px;
    right: 10px;
    top: 10px;
    z-index: 999;
    font-size: 14px;
    color: #9F9F9F;
}
@media (max-width: 320px) {
    .assets-rate{
        font-size: 14px;
    }
    .assets-get li strong,
    .assets-get li span{
        font-size: 14px;
    }
    .assets-get li strong{
        font-size: 14px;
    }
    .reg-list dl{
        font-size: 14px;
    }
}
.loadmore{
    padding: 20px 0 30px;
    text-align: center;
}
.loadmore a{
    display: inline-block;
    height: 35px;
    width: 60px;
    background: url(../images/lm_icon.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-animation: lm 1.5s infinite ease-in-out;
    animation: lm 1.5s infinite ease-in-out;

}
@-webkit-keyframes lm{
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
}
@keyframes lm{
    0% {
        opacity: 0;
        transform: translate(0, -10px);
    }
    30% {
        opacity: 0;
        transform: translate(0, -10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 10px);
    }
}
.fast-buy{
    margin-bottom: 5px;
}
.fast-buy p{
    font-size:12px;
    padding-bottom: 5px;
    color: #00b7ee;
    text-align: center;
}

.assets-quarter{
    padding: 10px 10px 10px 100px;
    margin-bottom: 20px;
    background: url(../images/season_pic.png) no-repeat 20px center;
    background-size:50px auto;

}
.assets-quarter p{
    color: #b4b4b4;
    font-size: 14px;
    line-height: 16px;
    margin-top: -4px;
    padding-bottom: 10px;
}
.assets-quarter strong{
    font-size: 42px;
    color: #fe7c88;
}
.assets-quarter strong i{
    font-size: 24px;
}
@media (max-width: 320px) {
    .assets-quarter p{
        font-size: 12px;
    }
    .assets-quarter strong{
        font-size: 40px;
    }
    .fast-buy p{
        font-size: 12px;
    }
}
.assets_s .assets-special{
    padding:0 0 30px 0;
}
.assets-special{
    padding: 20px 0 10px 0;
}
.assets-special p{
    font-size: 20px;
    font-weight: 700;
    color: #fe7c88;
    text-align: center;
}
.cats-special{
    text-align: center;
    font-size: 16px;
    color: #b4b4b4;
    font-weight: 700;
    margin-bottom: 10px;
}
.cats-special .cats-icon{
    display: inline-block;
    background: #fe7c88;
    margin: 0;
}

/* 取现 */
.money-box{
    background: url(../images/fench_bg.png) no-repeat;
    width: 98%;
    background-size: 100%;
    margin-bottom: 20px;
    height: 114px;
    position: relative;
    border-bottom-left-radius:5px;
}
.money-box i{
    width: 24%;
    height: 100%;
    display: block;
    background: url(../images/fench-man.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: -13px;
    right: -8px;
}
.money-word{
    color: #c8c8c8;
    font-size: 14px;
    margin:5px 0 20px 0;
    overflow: hidden;
}
.money-word b{
    color: #fe7c88;
    font-size: 16px;
}
.money-word i{
    width: 16px;
    height: 16px;
    display: block;
    background: url(../images/tips_icon.png) no-repeat;
    background-size: 100%;
    float: left;
    margin: 5px 8px 0 10px;
}
.money-word span{
    display: block;
    float: left;
}
.money-box a{
    padding: 15px 20px;
    display: block;
}
.money-box h3{
    color:#b4b4b4;
    font-size: 16px;
    font-weight: 700;
}
.money-box p{
    padding:10px 0 8px;
    font-weight: 700;
    font-size: 28px;
    color: #fe7c88;
}
.input-money{
    padding-bottom: 20px;
}
.input-money .reg-list dl{
    margin-bottom: 0;
}
.form-list{
    padding-bottom: 5px;
}
.form-list .money-num{
    padding:5px 10px 5px 10px
}
.form-list .bank-infor{
    background: none;
    border-left: 1px solid #dfdfdf;
    color: #b4b4b4;
    font-size: 20px;
}
.form-list .bank-infor strong{
    display: inline-block;
    float: left;
}
.form-list .bank-logo{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin:7px 10px 0 15px;
    float: left;
}
.gm-tipT{
    padding: 20px 0;
}
.gm-tips{
    background: #fafafa;
    border-radius: 5px;
    padding:0 0 20px 15px;
}
.gm-tips li span{
    color: #fe7c88;
}
.gm-tips h2{
    color: #b4b4b4;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}
.gm-tips ul{
    overflow: hidden;
    color: #b4b4b4;
    padding: 5px 30px 0px 20px;
}
.gm-tips li{
    margin-bottom: 5px;
    list-style: disc;
    font-size: 14px;
    line-height: 18px;
}
@media (max-width: 320px) {
    .money-box h3{
        font-size: 12px;
    }
    .money-box p{
        font-size: 24px;
        padding-bottom: 0;
    }
    .money-box{
        height: 98px;
    }
    #moneyNum{
        font-size: 12px;
    }
    .money-box i{
        top:-10px;
    }
    .gm-tips h2{
        font-size: 12px;
    }
    .gm-tips li{
        font-size: 12px;
        margin-bottom: 6px;
    }
    .form-list .bank-infor{
        font-size: 16px;
    }
    .form-list .bank-logo{
        width: 24px;
        height: 24px;
        margin: 11px 10px 0 15px;
    }
    .money-word{
        font-size: 12px;
    }
    .money-word b{
        font-size: 14px;
    }
    .money-word i {
        width: 14px;
    }
}
.bank-binding{
    padding:
}
.bank-select{
    display: block;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    padding: 0 10px 0 70px;
    border: 1px solid #dfdfdf;
}
.bank-select a{
    display: block;
    height: 44px;
    background: url(../images/bank_s.png) no-repeat right center;
    -webkit-background-size: 10px auto;
    background-size: 10px auto;
}
.bank-select a b{
    color: #aaa;
    font-size: 16px;
    font-weight: normal;
    line-height: 44px;
    padding-left: 10px;
}
.form-list .deal-pwd{
    padding:5px 10px 5px 130px;
}

.no-pwd{
    background: #dfdfdf;
    box-shadow: 0 5px 0 0 #c8c8c8;
}
.fetch-tips{
    font-size: 14px;
    color: #b4b4b4;
    padding: 20px 0 0;
}

/* 个人设置 */
.user-hd{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.user-img{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 0 auto;
}
.user-mPhone{
    padding-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #828282;
    letter-spacing: 1px;
}
.user-mPhone span{
    font-weight: normal;
}
.setting-item{
    border:1px solid #f0f0f0;
    border-radius: 5px;
    padding: 8px 15px;
    line-height: 28px;
    margin-bottom: 10px;
    font-size: 14px;
}
.setting-item a{
    position: relative;
    display: block;
}
.setting-item strong{
    color: #828282;
    font-weight: normal;
}
.setting-item span{
    color: #ff4141;
}
.setting-item .status-yes{
    color: #828282;
    font-size: 14px;
}
.icon-msg{
    background: url(../images/msg_icon.png) no-repeat center;
}
.icon-money{
    background: url(../images/money_icon.png) no-repeat center;
}
.icon-pwd1{
    background: url(../images/pwd1_icon.png) no-repeat center;
}
.icon-pwd2{
    background: url(../images/pwd2_icon.png) no-repeat center;
}
.icon-bank{
    background: url(../images/bank_icon.png) no-repeat center top;
}
.icon-man{
    background: url(../images/man_icon.png) no-repeat center;
}
.icon-msg,
.icon-money,
.icon-pwd1,
.icon-pwd2,
.icon-bank,
.icon-man{
    width: 20px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    -webkit-background-size: contain;
    background-size: contain;
}
.icon-lins{
    width: 15px;
    height:15px;
    margin-left: 10px;
    background: url(../images/bank_s.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}
.icon-tips{
    display: block;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    width: 18px;
    border-radius: 50%;
    color: #FFF;
    background: #fc4347;
    position: absolute;
    right: 20px;
    top:5px;
    z-index: 99;
    text-align: center;
}
.icon-tips span{
    color: #FFF;
    font-size: 12px;
}
.setting-pwd{
    padding: 5px 15px;
    border:1px solid #f0f0f0;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.setting-pwd .setting-item{
    border:none;
    border-bottom: 1px solid #ebebeb;
    border-radius:0;
    padding: 12px 0;
    margin-bottom: 0;
}
.setting-pwd .setting-item:last-child{
    border-bottom: none;
}
.exit-btn{
    padding-bottom: 30px;
}

.setting-box .user-pwd{
    padding: 5px 10px 5px 100px;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
}
.fetch-list .man-num{
    padding:5px 10px 5px 10px;
}
.fetch-list .find-pwd{
    padding:5px 10px 5px 10px;
}
.fetch-list .fetch-pwd{
    padding:5px 10px 5px 100px;
}
@media (max-width: 320px) {
    .setting-box .user-pwd{
        font-size: 12px;
    }
    .fetch-list .find-pwd,
    .fetch-list .fetch-pwd{
        font-size: 12px;
    }
}
.next-time{
    font-size: 16px;
    text-align: center;
    color: #969696;
    padding-bottom: 5px;
}
.next-time span{
    color: #fe7c88;
}

.item-rate{
    -webkit-animation: ff-AT 1s infinite ease-in-out;
    -moz-animation: ff-AT 1s infinite ease-in-out;
    -ms-animation: ff-AT 1s infinite ease-in-out;
    -animation: ff-AT 1s infinite ease-in-out;
}
@-webkit-keyframes ff-AT {
    0% {
        -webkit-transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@font-face {
    font-family: 'keepcalm';
    src: url('http://123.57.214.66:8868/fonts/keepcalm-medium-webfont.eot');
    src: url('http://123.57.214.66:8868/fonts/keepcalm-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://123.57.214.66:8868/fonts/keepcalm-medium-webfont.woff2') format('woff2'),
    url('http://123.57.214.66:8868/fonts/keepcalm-medium-webfont.woff') format('woff'),
    url('http://123.57.214.66:8868/fonts/keepcalm-medium-webfont.ttf') format('truetype'),
    url('http://123.57.214.66:8868/fonts/keepcalm-medium-webfont.svg#keepcalm') format('svg');
    font-weight: normal;
    font-style: normal;

    /*font-family: 'keepcalm';*/
    /*src: url('../fonts/keepcalm-medium-webfont.eot');*/
    /*src: url('../fonts/keepcalm-medium-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/keepcalm-medium-webfont.woff2') format('woff2'),*/
    /*url('../fonts/keepcalm-medium-webfont.woff') format('woff'),*/
    /*url('../fonts/keepcalm-medium-webfont.ttf') format('truetype'),*/
    /*url('../fonts/keepcalm-medium-webfont.svg#keepcalm') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
}
.item-rate strong{
    font-family: 'keepcalm';
    position:relative;
    display:inline-block;
    font-size:80px;
    font-weight: normal;
    line-height: 80px;
    color:#FFF;
    overflow:hidden;
    white-space: pre;
}
/*.item-rate strong:before{*/
    /*display:block;*/
    /*z-index:1;*/
    /*position:absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*content: attr(data-content);*/
    /*overflow:hidden;*/
    /*pointer-events: none;*/
    /*color: #FFF;*/
/*}*/
/*.item-rate strong:after{*/
    /*display:block;*/
    /*direction: rtl;*/
    /*position:absolute;*/
    /*z-index:2;*/
    /*top:0;*/
    /*left:0;*/
    /*width: 100%;*/
    /*content: attr(data-content);*/
    /*overflow:hidden;*/
    /*pointer-events: none;*/
    /*color: #1fcbff;*/
    /*height: 0% !important;*/
/*}*/
/*#item-year strong:after{*/
    /*color: #ffc016*/
/*}*/
/*#item-quarter strong:after{*/
    /*color: #fe7c88;*/
/*}*/

.h-46 strong:after{
    height:83%
}
.h-47 strong:after{
    height:81%
}
.h-48 strong:after{
    height:79%
}
.h-49 strong:after{
    height:76%
}
.h-50 strong:after{
    height:72%
}
.h-51 strong:after{
    height:68%
}
.h-52 strong:after{
    height:66%
}
.h-53 strong:after{
    height:63%
}
.h-54 strong:after{
    height:59%
}
.h-55 strong:after{
    height:55%
}
.h-56 strong:after{
    height:52%
}
.h-57 strong:after{
    height:48%
}
.h-58 strong:after{
    height:46%
}
.h-59 strong:after{
    height:43%
}
.h-60 strong:after{
    height:38%
}
.h-61 strong:after{
    height:34%
}
.h-62 strong:after{
    height:32%
}
.h-63 strong:after{
    height:29%
}
.h-64 strong:after{
    height:26%
}
.h-65 strong:after{
    height:22%
}
.h-66 strong:after{
    height:18%
}
.h-67 strong:after{
    height:10%
}
.h-68 strong:after,
.h-69 strong:after,
.h-70 strong:after,
.h-71 strong:after,
.h-72 strong:after,
.h-73 strong:after,
.h-74 strong:after,
.h-75 strong:after,
.h-76 strong:after,
.h-77 strong:after,
.h-78 strong:after,
.h-79 strong:after,
.h-80 strong:after,
.h-81 strong:after,
.h-82 strong:after,
.h-83 strong:after,
.h-84 strong:after,
.h-85 strong:after,
.h-86 strong:after,
.h-87 strong:after,
.h-88 strong:after,
.h-89 strong:after,
.h-90 strong:after,
.h-91 strong:after,
.h-93 strong:after,
.h-94 strong:after,
.h-95 strong:after,
.h-96 strong:after,
.h-97 strong:after,
.h-98 strong:after,
.h-99 strong:after,
.h-100 strong:after{
    height:0%
}
.gx-protocol{
    padding: 10px 0;
    color: #b4b4b4;
}
.gx-protocol a{
    color: #b4b4b4;
}

.user-hd a:visited,
.user-hd a:active{
    color:#00b7ee;
}

.look-confer a:visited,
.look-confer a:active,
.fast-buy a:visited,
.fast-buy a:active,
.exit-btn a:visited,
.exit-btn a:active,
.margin_top a:visited,
.margin_top a:active{
    color: #FFF;
}
.gxBtn-box{
    padding-bottom: 5px;
}
.gxBtn-box a.ui-btn:visited,
.gxBtn-box a.ui-btn:active{
    color:#FFF;
}
.gxBtn-box a.datail-rule:visited,
.gxBtn-box a.datail-rule:active{
    color:#00b7ee;
}
/* 浮动menu */
.yx-fixedBar{
    position: fixed;
    left: 10px;
    bottom: 0;
    width: 35px;
}
.yx-fixedBar a{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    display: block;
    text-indent: -9999px;
}
.yx-back{
    background:url("../images/back_icon.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.yx-home{
    background:url("../images/home_icon.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.gx-null{
    width: 100%;
    height: 36px;
}
/*自有资产新增*/
.asste-word{
    width: 100%;
    text-align: right;
    padding-bottom: 10px;
}
.asste-word a{
    font-size: 14px;
    color: #00b7ee;
}

/* 账户资产 */
.more-accountAsset{
    text-align: right;
    color: #ccc;
    font-size: 12px;
    padding-right: 20px;
}
a.more-accountAsset:active,
a.more-accountAsset:visited{
    color: #ccc;
}
.fixed-chart{
    position: fixed;
    height: 360px;
    width: 100%;
    top: 0;
    left: 0;
}
.user-accountAsset-box{
    background: #f5f5f5;
    min-height: 50px;
    height: 360px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.account-chart{
    position: absolute;
    width: 260px;
    height: 260px;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -130px;
}

.doughnutTip {
    position: absolute;
    min-width: 30px;
    max-width:260px;
    padding: 5px 15px;
    border-radius: 1px;
    background: rgba(0, 0, 0, .8);
    color: #ddd;
    font-size: 12px;
    text-shadow: 0 1px 0 #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.doughnutTip:after {
    position: absolute;
    left: 50%;
    bottom: -6px;
    content: "";
    height: 0;
    margin: 0 0 0 -6px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, .7);
    line-height: 0;
}

.doughnutSummary {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #00b7ee;
    text-align: center;
    cursor: default;
}

.doughnutSummaryTitle {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25%;
    font-size: 16px;
    letter-spacing: .06em;
}

.doughnutSummaryNumber {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -5%;
    font-size: 24px;
    font-weight: bold;
}

.account-chart path:hover {
    opacity: .65;
}
.circle-ui{
    position: absolute;
    bottom: 2%;
    min-width: 72px;
    max-width: 30%;
    overflow: hidden;
    line-height: 16px;
    font-size: 12px;
}
.circle-ui strong{
    display: block;
    font-weight: normal;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    padding: 1px 5px;
    text-align: center;
    color: #FFF;
    margin-bottom: 2px;
    font-size: 10px;
}
.circle-ui span{
    display: block;
    text-align: center;
}
.user-balance{
    right: 87px;
}
.user-balance strong{
    background-color: #00b7ee;
}
.user-balance span{
    color: #00b7ee;
}
.user-investing{
    right: 164px;
}
.user-investing strong{
    background-color: #fe7c88;
}
.user-investing span{
    color: #fe7c88;
}
.user-freeze{
    right: 10px;
}
.user-freeze strong{
    background-color: #ffc016;
}
.user-freeze span{
    color: #ffc016;
}
.user-accountAsset-item{
    color: #b4b4b4;
    padding-top: 330px;
}
.user-accountAsset-item ul{
    padding: 10px 0;
}
.user-accountAsset-item li{
    font-size: 14px;
    line-height: 37px;
    border-bottom: 1px solid #f5f5f5;
}
.user-accountAsset-item li:last-child{
    border-bottom: none;
}
.user-accountAsset-item li strong{
    font-weight: normal;
    color: #ccc;
}
.user-accountAsset-item li b{
    font-weight: normal;
    color: #DDD;
    font-size: 12px;
}
.fadeLeft{
    -webkit-animation:fadeInLeftBig 3s .2s ease both;
    -moz-animation:fadeInLeftBig 3s .2s ease both;
}
@-webkit-keyframes fadeInLeftBig{
    0%{opacity:0;
        -webkit-transform:translateX(-2000px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeftBig{
    0%{opacity:0;
        -moz-transform:translateX(-2000px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}
.fadeRight{
    -webkit-animation:fadeInRightBig 3s .2s ease both;
    -moz-animation:fadeInRightBig 3s .2s ease both;
}
@-webkit-keyframes fadeInRightBig{
    0%{opacity:0;
        -webkit-transform:translateX(2000px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRightBig{
    0%{opacity:0;
        -moz-transform:translateX(2000px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}
/* modify 2015/7/29 */
.assetsB{
    margin-bottom: 50px;
}
.assetsBottom{
    margin-bottom: 70px;
}
.assetsAb {
    position: absolute;
    width: 100%;
    top: 147px;
    left: 0;
}
.assetsNo {
    position: absolute;
    width: 100%;
    top: 123px;
    left: 0;
}
.gxtabs-wrap{
    position: relative;
}
.item-input{
    margin-top: 30px;
}
.look-Bank{
    text-align:right;
}
.look-Bank a{
    display: inline-block;
    font-size: 16px;
    color: #AFAFAF;
}
@media (max-width: 320px) {
    .look-Bank a{
        font-size: 12px;
    }
}