<style>
    .k-grid-header th.k-header > .k-link {
        text-align: center;
    }

    .k-widget, .k-widget * {
        text-align: left;
    }

    .k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
        min-width: 42px;
        text-align: center;
    }
</style>
<div class="zpManage zpSh">
    <h2 class="crumbs">您所在位置：项目管理 > 历史项目
    </h2>
    <div class="crumbs">
        历史项目列表
    </div>
    <div class="control-group form-horizontal padding">
        @Html.Partial("PH_ListView",
        new YxLiCai.Admin.Models.KendoTextBoxViewModel
        {
            Content = "3",
            Id = "grid3"
        })
    </div>
</div>
